.s-main-nav {
  position: relative;
  z-index: 10;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (min-width: $screen-sm) {
      justify-content: flex-start;
    }

    li {
      position: relative;

      &:not(:first-child) {
        margin-left: 0.25rem;

        @media (min-width: $screen-sm) {
          margin-left: rem(45px);
        }
      }

      &:last-child {
        display: none;

        @media (min-width: $screen-sm) {
          display: block;
          margin-left: auto;
        }
      }

      a {
        display: block;
        padding: 0.5em 0;
        text-decoration: none;
        position: relative;
        font-size: rem(10px);
        font-weight: 400;
        letter-spacing: 0.025em;
        color: $text-color;

        @media (min-width: 375px) {
          font-size: rem(12px);
        }

        @media (min-width: $screen-sm) {
          font-weight: 600;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }

        @media (min-width: $screen-sm) {

          &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            border-bottom: 1px solid currentColor;
            transform: scaleX(0);
            transition: transform 0.3s cubic-bezier(0.4,0,0,1);
            transform-origin: center right;
          }
        }

        &:hover,
        &:focus {
          text-decoration: none;
          color: currentColor;

          @media (min-width: $screen-sm) {

            &::after {
              transform: scaleX(1);
              transform-origin: center left;
            }
          }
        }
      }
    }
  }
}
