.s-project-info {

  &__promo {

    @extend .s-about-us__promo;
    background-image: url('https://images.unsplash.com/photo-1497366672149-e5e4b4d34eb3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2301&q=80');
  }

  &__briefly {
    padding: 2rem 0;

    @media (min-width: $screen-md) {
      padding: 3rem 0;
    }
  }

  &__info-group {
    font-size: rem(14px);
    line-height: rem(22px);

    &:not(:last-child) {
      margin-bottom: 1rem;

      @media (min-width: $screen-sm) {
        margin-bottom: 2rem;
      }
    }
  }

  &__info-subtext {
    font-size: rem(10px);
    line-height: rem(14px);
    letter-spacing: 0.2em;
    font-weight: 700;
    opacity: 0.5;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    font-weight: 600;
  }

  &__gallery {
    padding: 1rem 0 3rem;

    .owl-nav [class*=owl-] {
      margin-top: rem(30px);

      &:hover {
        background: transparent;
      }
    }

    .owl-nav .disabled {
      opacity: 0.25;

      svg {

        #arrow {
          transform: translate3d(-6px,0,0);
        }

        #line {
          transform: scalex(0.6)
        }
      }
    }

    .owl-prev,
    .owl-next {

      svg {
        vertical-align: middle;
        stroke: $text-color;

        #line {
          transform-origin: center;
        }

        polyline {
          transition-property: all;
          transition-duration: .3s;
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        }
      }

      &:hover,
      &:focus {
        outline: none;

        svg {

          polyline {
            stroke-width: 3;
          }
        }
      }

      &:active {

        svg {

          polyline {
            stroke-width: 4;
            transition-property: all;
            transition-duration: .15s;
            transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          }
        }
      }
    }

    .owl-prev {

      svg {
        transform: rotate3D(0, 1, 0, 180deg);
      }
    }
  }

  &__gallery-item {
    height: 210px;
    display: block;

    @media (min-width: $screen-sm) {
      height: 300px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__main-desc {
    padding: 2rem 0;

    @media (min-width: $screen-md) {
      padding: 6rem 0;
    }
  }
}