.s-promo {

  &__slide {
    position: relative;
  }

  &__slide-cover {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    > img {
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    min-height: 690px;
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    padding: 7rem 0 5rem;

    @media (min-width: $screen-sm) {
      padding: 9rem 0 5rem;
    }
  }

  &__title {
    font-family: map-get($headingtype, font-family);
    font-size: rem(56px);
    line-height: 1em;
    margin-bottom: 0.5rem;

    @media (min-width: $screen-sm) {
      font-size: rem(79px);
    }
  }

  &__desc {
    font-size: rem(20px);
    line-height: rem(30px);
    max-width: rem(670px);
    margin-bottom: rem(30px);
    opacity: 0.8;

    @media (min-width: $screen-sm) {
      margin-bottom: rem(45px);
    }
  }

  .owl-theme .owl-nav.disabled+.owl-dots {
    margin: 0;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate3d(-50%,0,0);
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 14px;
    height: 14px;
    background-color: #fff;
    opacity: 0.2;
  }

  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    opacity: 1;
  }
}