mixin promo()

  section.s-promo
    +owl-carousel('promo-slider')
      .s-promo__slide
        .s-promo__slide-cover
          img(src='https://images.unsplash.com/photo-1519642918688-7e43b19245d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1510&q=80', alt='')
        .s-promo__content
          .container.s-promo__container
            .s-promo__title Type something
            p.s-promo__desc Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
            +btn('')(href='/')
              svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24' width='24', height='24')
                g(fill='none', fill-rule='evenodd')
                  circle(cx='12', cy='12', r='11.5', stroke='#1A1919')
                  path(fill='#1A1919', d='M12 7c-.190443 0-.3448276.15438457-.3448276.34482759v4.31034481H7.34482759C7.15438457 11.6551724 7 11.809557 7 12s.15438457.3448276.34482759.3448276h4.31034481v4.3103448C11.6551724 16.8456154 11.809557 17 12 17s.3448276-.1543846.3448276-.3448276v-4.3103448h4.3103448C16.8456154 12.3448276 17 12.190443 17 12s-.1543846-.3448276-.3448276-.3448276h-4.3103448V7.34482759C12.3448276 7.15438457 12.190443 7 12 7z')
              | Type Something

      .s-promo__slide
        .s-promo__slide-cover
          img(src='https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80', alt='')
        .s-promo__content
          .container.s-promo__container
            .s-promo__title Type something
            p.s-promo__desc Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
            +btn('')(href='/')
              svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24' width='24', height='24')
                g(fill='none', fill-rule='evenodd')
                  circle(cx='12', cy='12', r='11.5', stroke='#1A1919')
                  path(fill='#1A1919', d='M12 7c-.190443 0-.3448276.15438457-.3448276.34482759v4.31034481H7.34482759C7.15438457 11.6551724 7 11.809557 7 12s.15438457.3448276.34482759.3448276h4.31034481v4.3103448C11.6551724 16.8456154 11.809557 17 12 17s.3448276-.1543846.3448276-.3448276v-4.3103448h4.3103448C16.8456154 12.3448276 17 12.190443 17 12s-.1543846-.3448276-.3448276-.3448276h-4.3103448V7.34482759C12.3448276 7.15438457 12.190443 7 12 7z')
              | Type Something
      .s-promo__slide
        .s-promo__slide-cover
          img(src='https://images.unsplash.com/photo-1519642918688-7e43b19245d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1510&q=80', alt='')
        .s-promo__content
          .container.s-promo__container
            .s-promo__title Type something
            p.s-promo__desc Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
            +btn('')(href='/')
              svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24' width='24', height='24')
                g(fill='none', fill-rule='evenodd')
                  circle(cx='12', cy='12', r='11.5', stroke='#1A1919')
                  path(fill='#1A1919', d='M12 7c-.190443 0-.3448276.15438457-.3448276.34482759v4.31034481H7.34482759C7.15438457 11.6551724 7 11.809557 7 12s.15438457.3448276.34482759.3448276h4.31034481v4.3103448C11.6551724 16.8456154 11.809557 17 12 17s.3448276-.1543846.3448276-.3448276v-4.3103448h4.3103448C16.8456154 12.3448276 17 12.190443 17 12s-.1543846-.3448276-.3448276-.3448276h-4.3103448V7.34482759C12.3448276 7.15438457 12.190443 7 12 7z')
              | Type Something
      .s-promo__slide
        .s-promo__slide-cover
          img(src='https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80', alt='')
        .s-promo__content
          .container.s-promo__container
            .s-promo__title Type something
            p.s-promo__desc Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
            +btn('')(href='/')
              svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24' width='24', height='24')
                g(fill='none', fill-rule='evenodd')
                  circle(cx='12', cy='12', r='11.5', stroke='#1A1919')
                  path(fill='#1A1919', d='M12 7c-.190443 0-.3448276.15438457-.3448276.34482759v4.31034481H7.34482759C7.15438457 11.6551724 7 11.809557 7 12s.15438457.3448276.34482759.3448276h4.31034481v4.3103448C11.6551724 16.8456154 11.809557 17 12 17s.3448276-.1543846.3448276-.3448276v-4.3103448h4.3103448C16.8456154 12.3448276 17 12.190443 17 12s-.1543846-.3448276-.3448276-.3448276h-4.3103448V7.34482759C12.3448276 7.15438457 12.190443 7 12 7z')
              | Type Something