mixin news-card()

  article.s-news-card
    a.s-news-card__cover(href='/')
      img(src='https://images.unsplash.com/photo-1536008046477-01746710ffb9?ixlib=rb-1.2.1&auto=format&fit=crop&w=748&q=80', alt='Project Name', width='284px', height='200px')
      .s-news-card__cover-overlay
    .s-news-card__info
      .s-news-card__info-inner
        h3.s-news-card__title Профиль из ПВХ или Алюминия? В чем разница и кто круче
        +date('2019-01-01').s-news-card__date
      a.s-news-card__more(href='/')
        span
        | Подробнее