.s-news-card {
  @extend .s-project-card;

  &__cover {
    @extend .s-project-card__cover;
  }

  &__cover-overlay {
    @extend .s-project-card__cover-overlay;
  }

  &__info-inner {
    margin: rem(10px) 0 rem(10px);
    padding: rem(15px) 0;
    position: relative;

    @media (min-width: $screen-sm) {
      margin: rem(15px) 0 rem(30px);
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: $bg-color--darker;
      opacity: 0.2;
      height: 1px;
      left: 0;
      width: 100%;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  &__title {
    font-size: 1rem;
    line-height: rem(26px);
    margin-bottom: rem(20px);
    max-width: 470px;

    @media (min-width: $screen-sm) {
      font-size: rem(28px);
      line-height: rem(34px);
    }
  }

  &__date {
    font-size: rem(14px);
    line-height: rem(20px);
    opacity: 0.5;
    font-weight: 600;
    letter-spacing: 0.1em;
  }

  &__more {
    @extend .s-project-card__more;
  }
}