.s-breadcrumb {
  padding: 0;
  list-style: none;
  color: $text-color;
  font-size: rem(12px);
  line-height: rem(20px);
  position: relative;
  padding: 0.25rem 15px;

  &::before {
    position: absolute;
    content: '';
    background-color: rgba(0,0,0,0.1);
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
  }

  a {
    color: currentColor;
    text-decoration: none;
    opacity: 0.5;

    &:hover,
    &:focus {
      color: $text-color;
      text-decoration: none;
      opacity: 1;
    }
  }

  &__inner {
    width: 100%;
    max-width: 1260px;
    margin: auto;
  }

  &__item {
    display: inline-block;
    margin-right: 0.4rem;
    white-space: nowrap;

    &:not(:last-child):after {
      content: '/';
      display: inline-block;
      margin-left: 0.4rem;
      color: currentColor;
      opacity: 0.5;
    }
  }
}