mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header()
      div header content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods, role='banner')&attributes(attributes)
    .s-page-header__top
      .s-page-header__top-inner
        .s-page-header__logo
          +logo('/')
            img(src='img/logo.svg', alt='In Pride', width='151px', height='30px')
        .s-page-header__hamburger
          +hamburger('Show mobile navigation', 'mobile-menu', 's-mobile-menu--has-open')
        .s-page-header__contact
          ul.s-page-header__contact-list
            li.s-page-header__contact-item
              +svg-icon('phone', 13, 12)
              a(href='tel:+79112914504') +7 911 291 4504
            li.s-page-header__contact-item
              +svg-icon('location', 12, 12)
              span Санкт-Петербург, 11 линия ВО, д. 12

    .s-page-header__bottom
      .s-page-header__bottom-inner
        nav.s-main-nav
          ul
            li: a(href='/') О компании
            li: a(href='/') Наши работы
            li: a(href='/') Партнеры
            li: a(href='/') Новости
            li: a(href='/') Контакты

  +mobile-menu()
