.s-page-header {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    background-color: rgba(0,0,0,0.1);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
  }

  &__top {
    padding: 1rem 15px;

    @media (min-width: $screen-sm) {
      padding-top: 1.35rem;
      padding-bottom: 1.35rem;
    }
  }

  &__top-inner,
  &__bottom-inner {
    width: 100%;
    max-width: 1260px;
    margin: auto;
  }

  &__top-inner {
    display: flex;
    align-items: center;
  }

  &__hamburger {
    margin-left: auto;
    position: relative;
    z-index: 200;

    @media (min-width: $screen-sm) {
      display: none;
    }
  }

  &__logo {

    img {
      width: 151px;
    }
  }

  &__contact {
    display: none;

    @media (min-width: $screen-sm) {
      display: block;
      margin-left: auto;
    }
  }

  &__contact-list {
    display: flex;
  }

  &__contact-item {
    font-size: rem(12px);
    font-weight: 600;
    letter-spacing: 0.05em;

    @media (min-width: $screen-md) {
      font-size: rem(14px);
    }

    & + & {
      margin-left: 2rem;

      @media (min-width: $screen-md) {
        margin-left: 3rem;
      }
    }

    > a {
      color: currentColor;
      transition: all 0.3s cubic-bezier(0.4,0,0,1);

      &:hover {
        text-decoration: none;
      }
    }

    > svg {
      fill: $primary-color;
      vertical-align: middle;
      margin-right: 1rem;
    }
  }

  &__bottom {
    position: relative;
    padding: 0.4rem 15px;

    &::before {
      position: absolute;
      content: '';
      background-color: rgba(0,0,0,0.1);
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
    }
  }
}