mixin promo-projects()

  section.s-promo-projects.s-section
    .container
      h2.s-main-subtitle Проекты
      .row
        .col-.col-md-6
          +project-card()
        .col-.col-md-6
          +project-card()
        .col-.col-md-6
          +project-card()
        .col-.col-md-6
          +project-card()