.s-gallery {
  padding-bottom: 2rem;

  @media (min-width: $screen-lg) {
    padding-bottom: 4rem;
  }

  &__inner {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px;
    grid-template-areas:
      'a b c'
      'd d c';

    @media (min-width: $screen-sm) {
      display: grid;
      grid-gap: 2px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 300px 300px;
      grid-template-areas:
        'a b c'
        'd d c';
    }
  }

  &__item {
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--a {
      grid-area: a;
    }

    &--b {
      grid-area: b;
    }

    &--c {
      grid-area: c;
    }

    &--d {
      grid-area: d;
    }
  }
}