mixin mobile-menu()

  #mobile-menu.s-mobile-menu
    .s-mobile-menu__inner
      .s-mobile-menu__subtitle Связаться с нами
      a(href='tel:+79112914504') +7 911 291 4504
      a(href='mailto:inpride.salon@yandex.ru') inpride.salon@yandex.ru
      .s-mobile-menu__subtitle Адрес
      span Санкт-Петербург, 11 линия ВО, д. 12