.s-mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $bg-color--darker;
  z-index: 100;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.3s cubic-bezier(0.4,0,0,1) 0.3s,
    visibility 0s 0.6s;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 2rem 1rem;

  &--has-open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }

  &__subtitle {
    margin-bottom: 0.25rem;
    margin-top: 2rem;
    position: relative;
    font-size: rem(12px);
    opacity: 0.4;
    font-weight: 600;
    letter-spacing: 0.1em;

    &::after {
      content: ':';
    }
  }

  a,
  span {
    color: #fff;
    opacity: 0.7;
    font-size: rem(16px);
    display: block;
    padding: 0.1rem 0;
  }
}