.s-btn {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  background-color: $primary-color;
  background-image: none;
  color: #fff;
  margin: 0;
  padding: rem(12px) rem(26px);
  font-size: rem(12px);
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: rem(16px);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.4,0,0,1);

  > svg {
    vertical-align: middle;
    margin-right: rem(15px);

    circle {
      stroke-dasharray: 73;
      stroke-dashoffset: 0;
      transform-origin: center;
      transform: rotate3d(0,0,1,-90deg);
      transition: all 1s cubic-bezier(0.4,0,0,1);
    }

    path {
      transform-origin: center;
      transition: all 1s cubic-bezier(0.4,0,0,1);
    }
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: currentColor;
    box-shadow: 0 15px 50px -5px rgba(0,0,0,0.1);

    svg {

      circle {
        stroke-dasharray: 73;
        stroke-dashoffset: 73;
        transform: rotate3d(0,0,1,-180deg);
      }

      path {
        transform: rotate3d(0,0,1,450deg);
      }
    }
  }

  &:active,
  &:focus {}

  &:visited {}

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.s-btn--disabled {
      pointer-events: none;
    }
  }
}