mixin promo-news()

  section.s-promo-news.s-section
    .container
      h2.s-main-subtitle Новости
      .row
        .col-.col-md-6
          +news-card()
        .col-.col-md-6
          +news-card()
        .col-.col-md-6
          +news-card()
        .col-.col-md-6
          +news-card()