.s-article {

  @media (min-width: $screen-sm) {
    padding-top: 4rem;
  }

  &__cover {
    width: 100%;
    max-width: 970px;
    margin: auto;
    height: 420px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (min-width: $screen-lg) {
      height: 750px;
    }
  }

  &__main {
    padding: rem(45px) 15px;
    max-width: 770px;
    margin: auto;

    p {
      max-width: 670px;
    }
  }

  &__date {
    font-size: rem(14px);
    line-height: rem(20px);
    opacity: 0.5;
    font-weight: 600;
    letter-spacing: 0.1em;
    display: inline-block;
    margin-bottom: rem(20px);
  }

  &__title {
    font-size: rem(28px);
    line-height: rem(34px);
    max-width: 670px;

    @media (min-width: $screen-sm) {
      font-size: rem(39px);
      line-height: rem(44px);
    }
  }
}