mixin article()

  .s-article
    .s-article__cover
      img(src='https://images.unsplash.com/photo-1536008046477-01746710ffb9?ixlib=rb-1.2.1&auto=format&fit=crop&w=748&q=80', alt='Project Name')
    .s-article__main
      +date('2019-01-01').s-article__date
      h1.s-article__title Недостроенный мост. Почему Китай так мало инвестирует в Россию
      p Начатое в 2014 году строительство сооружения на 85 % (семнадцать опор) на днях завершено китайцами. Причем на неделю раньше срока: “Превосходная технология строительства и бодрый дух китайских строителей мостов были высоко оценены российскими коллегами”, — сообщает китайское информагентство “Синьхуа”.
      p Увы, россияне не готовы ответить на это взаимностью. Оставшийся 15 %-й участок (три опоры), который по договору взяла на себя Россия, по-прежнему не закончен. По официальной версии, возникли технические проблемы с одной из опор, вследствие чего срок сдачи российской очереди объекта, первоначально намеченный на середину минувшего лета, перенесен на ближайший декабрь. При этом проблемы российских мостостроителей нельзя назвать исключительно техническими. Рабочим “СК Мост” (ранее принадлежавшей другу российского президента Геннадию Тимченко, а впоследствии выкупленной у него бизнесменом Русланом Байсаровым) несколько месяцев подряд задерживали зарплату. Весной они даже устроили забастовку, а Александру Левинталю, губернатору Еврейской автономной области, на территории которой ведутся работы, пришлось обращаться в прокуратуру.
      p Сам по себе этот частный эпизод российской действительности едва ли кого-то удивит по обе стороны Амура. В то же время подобная неэффективность, ведущая в итоге к нарушению политических договоренностей, приближает нас к пониманию, почему все больше китайских инициатив в РФ, о которых с помпой заявляют власти, воплощаются не в контрактах с четкими обязательствами сторон, а в предельно расплывчатых меморандумах.
      p Китайские вложения ⁠в РФ с неугасающим энтузиазмом обсуждаются последние четыре года. Однако если посчитать ⁠долю России в прямых ⁠инвестициях КНР за рубежом за этот период, ⁠то в среднем ⁠не выходит и 1 % — что исчезающе мало с учетом бесконечных российско-китайских ⁠форумов, межправительственных контактов и регулярного общения национальных лидеров. 