include mixins.pug

doctype html
html(class='no-js page', lang='ru')

  head
    meta(charset='utf-8')
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1, viewport-fit=cover')
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(name='google' value='notranslate')
    meta(name='msapplication-TileColor', content='#5bbad5')
    meta(name='theme-color', content='#000')
    meta(name='msapplication-navbutton-color', content='#000')
    meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title Home

    block head
      link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css')
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css')
      link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/dist/css/lightgallery.min.css')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Vollkorn&subset=cyrillic,cyrillic-ext')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic,latin-ext')
      link(rel='stylesheet', href='css/style.min.css')
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    noscript JavaScript is disabled

    include ../blocks/sprite-svg/img/sprite-svg.svg

    .page__inner
      .page__content
        block header
          p Header
        block content
          p Page Content

      .page__footer-wrapper
        block footer
          p Footer

    block page-bottom
      script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
      script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js')
      script(src='https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/dist/js/lightgallery.min.js')
      script(src='https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/modules/lg-thumbnail.min.js')
      script(src='https://cdn.jsdelivr.net/npm/lightgallery@1.6.11/modules/lg-fullscreen.min.js')
      script(src='js/script.min.js')
