mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .s-page-footer__inner

      .s-page-footer__logo
        +logo('/')
          img(src='img/logo.svg', alt='In Pride', width='151px', height='30px')

      nav.s-page-footer__nav
        ul
          li
            a(href='/') О компании
            ul
              li
                a(href='/') First additional link
              li
                a(href='/') Second additional link
              li
                a(href='/') Third additional link
          li
            a(href='/') Наши работы
            ul
              li
                a(href='/') Additional link
              li
                a(href='/') Second additional link
              li
                a(href='/') Another link
              li
                a(href='/') Link
          li: a(href='/') Партнеры
          li: a(href='/') Новости
          li: a(href='/') Контакты

      .s-page-footer__contacts
        .s-page-footer__contacts-group
          .s-page-footer__subtitle Связаться с нами
          a(href='tel:+79112914504') +7 911 291 4504
          a(href='mailto:inpride.salon@yandex.ru') inpride.salon@yandex.ru
        .s-page-footer__contacts-group
          .s-page-footer__subtitle Адрес
          address Санкт-Петербург, 11 линия ВО, д. 12

      .s-page-footer__copyright
        span © 2019. In Pride. All rights Reserved
        a(href='/').s-page-footer__privacy Политика конфиденциальности
