.s-page-footer {
  padding: 4rem 15px 1rem;
  background-color: $bg-color--lighter;
  color: $text-color;
  text-align: center;

  @media (min-width: $screen-sm) {
    padding: 4rem 1rem 1rem;
  }

  @media (min-width: $screen-md) {
    text-align: left;
    padding: 5rem 1rem 3rem;
  }

  &__inner {
    width: 100%;
    max-width: 1260px;
    margin: auto;
    position: relative;

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &::after {
        position: absolute;
        content: '';
        background-color: rgba(0,0,0,0.1);
        height: 1px;
        width: 100%;
        left: 0;
        top: 3.25rem;
      }
    }
  }

  &__logo {
    margin-bottom: 1.5rem;

    @media (min-width: $screen-md) {
      flex-basis: auto;
      width: 30%;
    }
  }

  &__nav {
    font-size: rem(12px);
    line-height: rem(20px);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    padding-bottom: rem(45px);
    border-bottom: 1px solid rgba(0,0,0,0.1);

    @media (min-width: $screen-md) {
      border-bottom: 0;
      flex-basis: auto;
      width: 70%;
    }

    > ul {

      @media (min-width: $screen-md) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }

      > li {

        @media (min-width: $screen-md) {
          padding-left: 1.5rem;

          &:nth-child(3) {
            margin-left: auto;
          }
        }

        @media (min-width: $screen-lg) {
          padding-left: 2rem;
        }

        > a {
          display: block;
          color: currentColor;
          padding: 0.25rem 0;
          text-decoration: none;
          position: relative;

          @media (min-width: $screen-sm) {
            display: inline-block;

            &::after {
              content: '';
              position: absolute;
              right: 0;
              bottom: 0;
              left: 0;
              border-bottom: 1px solid currentColor;
              transform: scaleX(0);
              transition: transform 0.3s cubic-bezier(0.4,0,0,1);
              transform-origin: center right;
            }
          }

          &:hover,
          &:focus {
            text-decoration: none;
            color: currentColor;

            @media (min-width: $screen-sm) {

              &::after {
                transform: scaleX(1);
                transform-origin: center left;
              }
            }
          }
        }

        > ul {
          padding-top: 5rem;
          display: none;
          text-transform: none;
          font-weight: 400;
          letter-spacing: 0.05em;

          a {
            color: currentColor;
            margin-bottom: 0.25rem;
            display: inline-block;
            opacity: 0.8;

            &:hover {
              text-decoration: none;
              opacity: 1;
            }
          }

          @media (min-width: $screen-md) {
            display: block;
          }
        }
      }
    }
  }

  &__contacts {
    padding-top: rem(45px);
    font-size: rem(14px);
    line-height: rem(20px);

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
    }

    @media (min-width: $screen-md) {
      position: absolute;
      left: 0;
      top: 6.5rem;
      padding-top: 0;
      flex-direction: column;
      width: 30%;
    }

    a {
      display: block;
      color: currentColor;
      padding: 0.25rem 0;
      flex-shrink: 0;

      &:hover {
        text-decoration: none;
      }

      @media (min-width: $screen-md) {
        padding: 0;
        margin-bottom: 0.25rem;
      }
    }
  }

  &__contacts-group {

    @media (min-width: $screen-sm) {
      flex-basis: auto;
      width: 50%;
    }

    @media (min-width: $screen-md) {
      width: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__subtitle {
    font-weight: 600;
    margin-bottom: 0.5rem;

    &::after {
      content: ':';
    }
  }

  &__copyright {
    font-size: rem(14px);
    line-height: rem(20px);
    margin-top: 5rem;
    display: flex;
    flex-basis: auto;
    width: 100%;
    justify-content: center;

    @media (min-width: $screen-md) {
      margin-top: 6rem;
      justify-content: space-between;
    }
  }

  span {
    opacity: 0.5;
  }

  &__privacy {
    color: currentColor;
    opacity: 0.5;
    display: none;

    @media (min-width: $screen-sm) {
      display: inline-block;
    }

    &:hover {
      text-decoration: none;
      color: currentColor;
      opacity: 1;
    }
  }
}