.s-contacts {
  position: relative;
  padding: 1rem 0 0 0;

  @media (min-width: $screen-lg) {
    padding: 3rem 15px 3rem;
  }

  .s-main-subtitle {
    text-align: left;
    margin-top: 1rem;

    @media (min-width: $screen-md) {
      margin-bottom: 3rem;
    }
  }

  a {
    color: currentColor;

    &:hover {
      text-decoration: none;
    }
  }

  &__inner {
    width: 100%;
    max-width: 1260px;
    margin: auto;
    position: relative;
  }

  &__info {
    padding: 0 15px;

    @media (min-width: $screen-md) {
      max-width: 50%;
    }

    @media (min-width: $screen-lg) {
      padding-left: 0;
    }
  }

  &__list {

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__item {
    margin-bottom: 1rem;
    padding-right: 2rem;

    @media (min-width: $screen-lg) {
      margin-bottom: 2rem;
    }

    &--phone,
    &--e-mail {

      @media (min-width: $screen-sm) {
        flex-basis: auto;
        width: 50%;
      }
    }

    &--address {

      @media (min-width: $screen-sm) {
        flex-basis: auto;
        width: 100%;
      }
    }
  }

  &__subtitle {
    font-size: rem(14px);
    line-height: rem(20px);
    opacity: 0.5;
    margin-bottom: 0.25rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 0.5rem;
    }
  }

  &__address {

    span {
      display: block;
      font-size: rem(14px);
      line-height: rem(20px);
      margin-top: 0.5rem;
      opacity: 0.5;
    }
  }

  &__map {
    height: 300px;
    background-color: $gray-lighter;

    @media (min-width: $screen-lg) {
      position: absolute;
      top: 0%;
      left: 50%;
      width: 50%;
      height: 100%;
    }
  }
}