.s-advantages {
  background-color: $primary-color;
  color: $white;
  text-align: center;
  padding: 3rem 0;

  @media (min-width: $screen-sm) {
    padding: 6rem 0 3rem;
  }

  @media (min-width: $screen-md) {
    padding-bottom: 6rem;
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 3rem;

      @media (min-width: $screen-md) {
        margin-bottom: 0;
      }
    }
  }

  &__figure {
    margin: 0;
  }

  &__figure-icon {
    margin-bottom: 1.5rem;

    @media (min-width: $screen-md) {
      margin-bottom: rem(45px);
    }
  }

  &__caption-term {
    margin: 0;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.15em;

    @media (min-width: $screen-md) {
      margin-bottom: 1rem;
    }
  }

  &__caption-desc {
    opacity: 0.8;
    font-size: rem(14px);
    line-height: rem(22px);
    max-width: 270px;
    margin: auto;
  }
}