mixin advantages()

  .s-advantages
    .container
      ul.s-advantages__list.row
        li.s-advantages__item.col-.col-md-6.col-lg-3
          +advantage()
        li.s-advantages__item.col-.col-md-6.col-lg-3
          +advantage()
        li.s-advantages__item.col-.col-md-6.col-lg-3
          +advantage()
        li.s-advantages__item.col-.col-md-6.col-lg-3
          +advantage()


mixin advantage

  figure.s-advantages__figure
    .s-advantages__figure-icon
      svg(xmlns='http://www.w3.org/2000/svg',viewBox='0 0 42 56', width='42', height='56')
        path(fill='#1a1919', fill-rule='nonzero', d='M41.1063902 56H.5957519c-.32928858 0-.59574468-.2664561-.59574468-.5957447V8.19614368c0-.15184508.05817816-.29845415.162899-.40899267l7.17802531-7.600399C7.45263127.06748668 7.60971246 0 7.77377495 0H41.1063902c.3292886 0 .5957447.2664561.5957447.59574468V55.4042553c0 .3292886-.2664561.5957447-.5957447.5957447zM1.19149432 54.8085106H40.5106433V1.19148936H8.03092254L1.19149432 8.43292883V54.8085106zM7.77377495 8.79188836H.59574964c-.23736708 0-.45262632-.14137296-.54687503-.36012302-.0942486-.21816825-.05003326-.47182514.11402934-.64461445l7.17802531-7.600399c.1675532-.1780253.4293551-.23271276.65275936-.14486365.22689484.0901762.37583101.30950807.37583101.55385644v7.600399c0 .32928846-.2664561.59574468-.59574468.59574468zM1.97806353 7.600399h5.19996674V2.09441489L1.97806353 7.600399zM31.6815232 20.2553191c-.090758 0-.181516-.0203623-.2652926-.0622506l-3.4162234-1.699385-3.4173893 1.699385c-.200133.1000665-.4409907.0779588-.6236702-.0570147-.1791888-.1355551-.2676197-.3612866-.2280585-.5829455l.6457779-3.5570146-2.7378657-2.5255153c-.1698803-.1564994-.2338764-.3967753-.1640625-.6166888.0686503-.2199136.2583112-.3799037.4863696-.4113198l3.8118352-.5241855 1.6988032-3.2573969c.2047873-.39444815.8517311-.39444815 1.0565183 0l1.6988033 3.2573969 3.8118351.5241855c.2280586.0314163.4177194.1914062.4863697.4113198.0698139.2199135.0058178.4601895-.1640625.6166888l-2.7378657 2.5255153.6446143 3.5570146c.0395611.2222407-.0488696.4473904-.2292221.5829455-.1047208.0791224-.2303856.1192653-.3572141.1192653zm-3.681516-3.0229388c.090758 0 .181516.0209441.2652926.0622507l2.6180186 1.3026096-.4910239-2.7105218c-.0360705-.2007148.0325798-.4060838.1826795-.544548l2.0501994-1.8913729-2.8658577-.3944482c-.1908245-.0261802-.3572141-.1431183-.4468085-.314744l-1.3125-2.5167886-1.3125022 2.5167886c-.0895944.1716257-.2559841.2885638-.4468086.314744l-2.8658576.3944482 2.0501994 1.8913729c.1500998.1384641.2187501.3438331.1826795.544548l-.4921874 2.7105218 2.6191822-1.3026096c.0837766-.0413065.1745344-.0622507.2652947-.0622507zm7.1489362 18.5123006H6.55319645c-.32928858 0-.59574468-.2664562-.59574468-.5957447 0-.3292886.2664561-.5957447.59574468-.5957447H35.1489434c.3292886 0 .5957447.2664561.5957447.5957447 0 .3292885-.2664561.5957447-.5957447.5957447zm0 5.9574468H6.55319645c-.32928858 0-.59574468-.2664561-.59574468-.5957447 0-.3292886.2664561-.5957447.59574468-.5957447H35.1489434c.3292886 0 .5957447.2664561.5957447.5957447 0 .3292886-.2664561.5957447-.5957447.5957447zm-14.2978746 5.9574468H6.55319645c-.32928858 0-.59574468-.2664561-.59574468-.5957447 0-.3292886.2664561-.5957447.59574468-.5957447H20.8510688c.3292886 0 .5957447.2664561.5957447.5957447 0 .3292886-.2664561.5957447-.5957447.5957447z')
    figcaption.s-advantages__caption
      dl
        dt.s-advantages__caption-term Heading
        dd.s-advantages__caption-desc Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.