.s-about-us {

  &__promo {
    min-height: 420px;
    background-image: url('https://images.unsplash.com/photo-1535966516242-f835d6de428a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $screen-md) {
      min-height: 600px;
    }
  }

  &__title {
    color: $white;
    font-size: rem(56px);
    line-height: 1em;

    @media (min-width: $screen-sm) {
      font-size: rem(79px);
    }
  }

  &__content {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @media (min-width: $screen-md) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
}