mixin promo-about()

  section.s-promo-about
    .s-promo-about__header
      .s-promo-about__cover
        img(src='https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80', alt='/', width='320px', height='300px')

      .container
        .s-promo-about__header-info
          span.s-promo-about__subtitle In Pride
          h2.s-promo-about__title О компании

    .container
      .row
        .col-.col-lg-10.offset-lg-1
          .s-promo-about__content
            h3.s-promo-about__content-title Type Something
            p.s-promo-about__content-desc Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
            a(href='/').s-promo-about__more
              span
              | Подробнее