.s-promo-about {
  background-color: $white;
  padding-bottom: 3rem;

  @media (min-width: $screen-md) {
    margin-top: 6rem;
    padding-bottom: 6rem;
  }

  &__header {
    position: relative;
    height: 300px;
    padding: 2rem 0;
    z-index: 1;

    @media (min-width: $screen-md) {
      padding: 0;
      height: 540px;
      display: flex;
    }
  }

  &__cover {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    @media (min-width: $screen-md) {
      left: 30%;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      background-color: rgba(0,0,0,0.7);
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      @media (min-width: $screen-md) {
        display: none;
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      z-index: -2;
    }
  }

  &__header-info {
    position: relative;
    z-index: 2;
    padding: 4rem 0;

    @media (min-width: $screen-md) {
      padding-left: 100px;
      padding: 5rem 1rem 5rem 5rem;
      height: 100%;

      &::before {
        position: absolute;
        content: '';
        display: block;
        left: 0;
        top: 0;
        height: 100%;
        width: 1px;
        background-color: rgba(0,0,0,0.1);
      }
    }
  }

  &__subtitle {
    color: $primary-color;
    font-size: rem(10px);
    font-weight: 700;
    line-height: rem(14px);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 1rem;
    display: block;

    @media (min-width: $screen-md) {
      margin-bottom: 3rem;
    }
  }

  &__title {
    margin: 0;
    font-size: rem(39px);
    line-height: rem(44px);
    color: $white;

    @media (min-width: $screen-md) {
      font-size: rem(79px);
      line-height: rem(80px);
      color: $text-color;
    }
  }

  &__content {
    position: relative;
    background-color: $bg-color--darker;
    color: $white;
    margin-top: -2rem;
    padding: 2rem 10%;
    z-index: 2;

    @media (min-width: $screen-md) {
      margin-top: - (rem(90px));
      padding: 4rem 5rem;
    }
  }

  &__content-title {
    color: currentColor;
    margin-bottom: 1rem;

    @media (min-width: $screen-md) {
      font-size: rem(28px);
      line-height: rem(34px);
    }
  }

  &__content-desc {
    opacity: 0.6;
    font-size: rem(14px);
    line-height: rem(22px);
    margin-bottom: 1rem;
    max-width: rem(470px);

    @media (min-width: $screen-md) {
      font-size: 1rem;
      line-height: rem(30px);
      margin-bottom: rem(45px);
      max-width: 100%;
    }
  }

  &__more {
    @extend .s-project-card__more;
    color: $white;

    span {
      background-color: rgba(255,255,255,0.2);

      &::before {
        background-color: rgba(255,255,255,1);
      }
    }

    &:hover {
      text-decoration: none;
      color: $white;

      span {

        &::before {
          transform: scaleX(1);
          background-color: $primary-color;
          transition: 0.6s cubic-bezier(0.4,0,0,1);
        }
      }
    }
  }
}