mixin promo-partners()

  .s-promo-partners
    +owl-carousel('promo-partners')
      .s-promo-partners__slide: img(src='img/partner-1.svg', alt='/')
      .s-promo-partners__slide: img(src='img/partner-2.svg', alt='/')
      .s-promo-partners__slide: img(src='img/partner-1.svg', alt='/')
      .s-promo-partners__slide: img(src='img/partner-2.svg', alt='/')
      .s-promo-partners__slide: img(src='img/partner-1.svg', alt='/')
      .s-promo-partners__slide: img(src='img/partner-2.svg', alt='/')