extends pug/layout.pug

block meta
  - var title = 'About';
  title= title
  meta(name='description', content='')

block header
  +page-header()
  +breadcrumb()
    +breadcrumb-item('Главная', '/')
    +breadcrumb-item('О нас')

block content
  +about-us()
  .s-gallery
    .container
      .s-gallery__inner
        .s-gallery__item.s-gallery__item--a
          img(src='https://images.unsplash.com/photo-1523755231516-e43fd2e8dca5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2775&q=80', alt='/')
        .s-gallery__item.s-gallery__item--b
          img(src='https://images.unsplash.com/photo-1532372576444-dda954194ad0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80', alt='/')
        .s-gallery__item.s-gallery__item--c
          img(src='https://images.unsplash.com/photo-1475783006851-1d68dd683eff?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80', alt='/')
        .s-gallery__item.s-gallery__item--d
          img(src='https://images.unsplash.com/photo-1536179247184-595913ca4a28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2775&q=80', alt='/')
  +promo-partners()

block footer
  +page-footer()