extends pug/layout.pug

block meta
  - var title = 'Article';
  title= title
  meta(name='description', content='')

block header
  +page-header()
  +breadcrumb()
    +breadcrumb-item('Главная', '/')
    +breadcrumb-item('Новости', '/')
    +breadcrumb-item('Статья')

block content
  +article()
  +promo-news()

block footer
  +page-footer()