extends pug/layout.pug

block meta
  - var title = 'Contacts';
  title= title
  meta(name='description', content='')

block header
  +page-header()
  +breadcrumb()
    +breadcrumb-item('Главная', '/')
    +breadcrumb-item('Контакты')

block content
  .s-contacts
    .s-contacts__inner
      .s-contacts__info
        h2.s-main-subtitle Контакты
        ul.s-contacts__list
          li.s-contacts__item.s-contacts__item--phone
            .s-contacts__subtitle Телефон
            a(href='tel:+79112914504') +7 911 291 4504
          li.s-contacts__item.s-contacts__item--e-mail
            .s-contacts__subtitle E-mail
            a(href='mailto:inpride.salon@yandex.ru') inpride.salon@yandex.ru
          li.s-contacts__item.s-contacts__item--address
            .s-contacts__subtitle Адрес
            address.s-contacts__address
              | Санкт-Петербург, 11 линия ВО, д. 12
              span Режим работы: с 11 до 20 ч. ежедневно
      .s-contacts__map

block footer
  +page-footer()