extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  +promo()
  +promo-projects()
  +promo-about()
  +advantages()
  +promo-news()
  +promo-partners()

block footer
  +page-footer()