extends pug/layout.pug

block meta
  - var title = 'Project';
  title= title
  meta(name='description', content='')

block header
  +page-header()
  +breadcrumb()
    +breadcrumb-item('Главная', '/')
    +breadcrumb-item('Наши работы', '/')
    +breadcrumb-item('Проект')

block content
  .s-project-info

    .s-project-info__promo

    .s-project-info__briefly
      .container
        .s-project-info__briefly-inner.row
          .col-12.col-lg-4.col-xl-3.s-project-info__info-group
            .s-project-info__info-subtext Объект
            .s-project-info__subtitle ЖК Космос
          .col-12.col-lg-8.col-xl-3.s-project-info__info-group
            .s-project-info__info-subtext Адрес
            .s-project-info__subtitle ул. Космонавтов
          .col-12.col-xl-6.s-project-info__info-group
            .s-project-info__info-subtext Информация
            .row.s-project-info__info-group
              .col-12.col-md-4
                .s-project-info__subtitle Кухня:
              .col-12.col-md-8 МДФ+ эмаль, столешница искусственный камень, фурнитура BLUM, мойка BLANCO
            .row.s-project-info__info-group
              .col-12.col-md-4
                .s-project-info__subtitle Гардеробная:
              .col-12.col-md-8 МДФ+эмаль, вставки массив(шпон), фурнитура BLUM
            .row.s-project-info__info-group
              .col-12.col-md-4
                .s-project-info__subtitle Дополнительно:
              .col-12.col-md-8 Интегрированный подоконник, полки скрытого монтажа

    .s-project-info__gallery
      +owl-carousel('project-gallery').s-project-info__gallery-slider
        a.s-project-info__gallery-item(href='https://images.unsplash.com/photo-1545158535-c3f7168c28b6?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80')
          img(src='https://images.unsplash.com/photo-1545158535-c3f7168c28b6?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80')
        a.s-project-info__gallery-item(href='https://images.unsplash.com/photo-1544820517-530f8252199b?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80')
          img(src='https://images.unsplash.com/photo-1544820517-530f8252199b?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80')
        a.s-project-info__gallery-item(href='https://images.unsplash.com/photo-1545158535-c3f7168c28b6?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80')
          img(src='https://images.unsplash.com/photo-1545158535-c3f7168c28b6?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80')
        a.s-project-info__gallery-item(href='https://images.unsplash.com/photo-1547582538-8e3598d60244?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80')
          img(src='https://images.unsplash.com/photo-1547582538-8e3598d60244?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80')
        a.s-project-info__gallery-item(href='https://images.unsplash.com/photo-1545158535-c3f7168c28b6?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80')
          img(src='https://images.unsplash.com/photo-1545158535-c3f7168c28b6?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80')
        a.s-project-info__gallery-item(href='https://images.unsplash.com/photo-1544820517-530f8252199b?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80')
          img(src='https://images.unsplash.com/photo-1544820517-530f8252199b?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80')
        a.s-project-info__gallery-item(href='https://images.unsplash.com/photo-1545158535-c3f7168c28b6?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80')
          img(src='https://images.unsplash.com/photo-1545158535-c3f7168c28b6?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80')
        a.s-project-info__gallery-item(href='https://images.unsplash.com/photo-1547582538-8e3598d60244?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80')
          img(src='https://images.unsplash.com/photo-1547582538-8e3598d60244?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80')

    .s-project-info__main-desc
      .container

  +promo-projects()

block footer
  +page-footer()