$font-variable: false;
$debug-rhythm: false;

// Root
html {
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: $text-color;
  font-size: 20px;
  font-family: map-get($bodytype, font-family);
  font-weight: map-get($bodytype, regular);

  @if ($debug-rhythm == true) {
    @include debug-rhythm;
  }

  @if ($font-variable == true) {

    @supports (font-variation-settings: 'wght' 400) {
      font-family: $font-family--variable;
      font-variation-settings: 'wght' 400;
    }
  }
}

// Body
body {
  word-break: break-word;
}

// Paragraph
p {
  font-feature-settings: 'kern' 1, 'liga' 1, 'dlig' 0, 'calt' 1, 'onum' 1, 'lnum' 0, 'pnum' 1, 'tnum' 0, 'frac' 1;
  margin-top: rem(30px);
  line-height: rem(30px);

  @supports (font-variant: common-ligatures) {
    font-feature-settings: normal;
    font-variant: common-ligatures no-discretionary-ligatures contextual oldstyle-nums proportional-nums diagonal-fractions;
    font-kerning: normal;
  }
}

// Text links
p a,
li a {

  &:hover,
  &:active,
  &:focus {

  }
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-family: map-get($headingtype, font-family);
  font-feature-settings: 'kern' 1, 'liga' 1, 'dlig' 1, 'calt' 1, 'onum' 1, 'lnum' 0, 'pnum' 1, 'tnum' 0;
  font-style: normal;
  font-weight: map-get($headingtype, regular);

  @supports (font-variant: common-ligatures) {
    font-feature-settings: normal;
    font-variant: common-ligatures discretionary-ligatures contextual oldstyle-nums proportional-nums;
    font-kerning: normal;
  }

  @if ($font-variable == true) {

    @supports (font-variation-settings: 'wght' 700) {
      font-family: $font-family--variable;
      font-variation-settings: 'wght' 700;
      font-weight: normal;
    }
  }
}

// Heading level 1
h1 {

}

// Heading level 2
h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: rem(39px);
  line-height: rem(44px);

  @media (min-width: $screen-md) {
    font-size: rem(79px);
    line-height: rem(80px);
  }
}

// Heading level 3
h3 {}

// Heading level 4
h4 {}

// Heading level 5
// h5 {}

// Heading level 6
// h6 {}

// Lists
// ul,
// ol {

//   li {
//     font-feature-settings: 'kern', 'liga', 'onum';
//     margin-left: 2rem;

//     @supports (font-variant: common-ligatures) {
//       font-feature-settings: normal;
//       font-variant: common-ligatures oldstyle-nums;
//       font-kerning: normal;
//     }

//     @media (min-width: $screen-sm) {
//       margin-left: 0;
//     }

//     ol,
//     ul {
//       margin-left: 2rem;
//     }
//   }
// }

// Unordered lists
// ul {

//   li {

//     &:not([class]) {
//       margin-left: 2rem;
//       position: relative;

//       &::before {
//         position: absolute;
//         content: '';
//         width: 0.5rem;
//         height: 0.5rem;
//         border-radius: 50%;
//         background-color: currentColor;
//         opacity: 0.2;
//         left: -1rem;
//         top: 0.575rem;
//         transform: translate3d(-50%,0,0);
//       }
//     }
//   }
// }

// Ordered lists
ol {
  list-style-type: none;

  li {
    counter-increment: top-level;

    &:before {
      content: counter(top-level) '.';
      font-feature-settings: 'lnum', 'tnum';
      margin-left: -3rem;
      position: absolute;
      text-align: right;
      width: 2em;

      @supports (font-variant: common-ligatures) {
        font-feature-settings: normal;
        font-variant: lining-nums tabular-nums;
      }
    }

    ul {

      li {

        &:before {
          content: '';
        }

        ol {

          li {
            counter-increment: alt-level;

            &:before {
              content: counter(alt-level) '.';
            }
          }
        }
      }
    }

    ol {

      li {
        counter-increment: sub-level;

        &:before {
          content: counter(top-level) '.' counter(sub-level);
        }

        ul {

          li {

            &:before {
              content: '';
            }
          }
        }

        ol {

          li {
            counter-increment: sub-sub-level;

            &:before {
              content: counter(top-level) '.' counter(sub-level) '.' counter(sub-sub-level);
            }
          }
        }
      }
    }
  }
}

// Definition lists
dl {

  dt,
  dd {
    font-feature-settings: 'kern', 'onum', 'liga';
    margin-left: 2rem;

    @supports (font-variant: common-ligatures) {
      font-feature-settings: normal;
      font-variant: common-ligatures oldstyle-nums;
      font-kerning: normal;
    }

    @media (min-width: $screen-sm) {
      margin-left: 0;
    }
  }

  dt {
    font-weight: map-get($bodytype, bold);

    @if ($font-variable == true) {

      @supports (font-variation-settings: 'wght' 700) {
        font-variation-settings: 'wght' 700;
        font-weight: normal;
      }
    }
  }

  dd + dt {
    padding-top: 1rem;
  }
}

// Tables
table {
  font-family: map-get($headingtype, font-family);
  font-style: normal;
  font-weight: map-get($headingtype, regular);

  @if ($font-variable == true) {

    @supports (font-variation-settings: 'wght' 400) {
      font-family: $font-family--variable;
      font-variation-settings: 'wght' 400;
    }
  }

  tbody,
  caption {
    font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'onum' 0, 'lnum' 1, 'zero' 1, 'pnum' 0, 'tnum' 1, 'frac' 1;

    @supports (font-variant: common-ligatures) {
      font-feature-settings: normal;
      font-variant: common-ligatures contextual lining-nums slashed-zero tabular-nums diagonal-fractions;
      font-kerning: normal;
    }
  }
}

// Time
time {
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'onum' 1, 'lnum' 0, 'pnum' 1, 'tnum' 0;

  @supports (font-variant: common-ligatures) {
    font-feature-settings: normal;
    font-variant: common-ligatures contextual oldstyle-nums proportional-nums;
    font-kerning: normal;
  }
}

// Bold
b,
strong,
.bold {
  font-weight: map-get($bodytype, bold);
}

// Italic
em,
i,
.italic {
  font-style: map-get($bodytype, italic);
}

// Caption and inline small text
small,
.caption {
  font-family: map-get($headingtype, font-family);
  font-style: normal;
  font-weight: map-get($headingtype, regular);

  @if ($font-variable == true) {

    @supports (font-variation-settings: 'wght' 400) {
      font-family: $font-family--variable;
      font-variation-settings: 'wght' 400;
    }
  }
}

small {
  line-height: 1rem;
}

.caption {
  color: $caption-color;
}

// Letter space capitals
.upper {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-feature-settings: 'kern';

  @supports (font-kerning: normal) {
    font-feature-settings: normal;
    font-kerning: normal;
  }
}

// Real small caps
abbr,
.small-caps {
  text-transform: uppercase;
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'smcp' 1, 'c2sc' 1, 'onum' 1, 'lnum' 0, 'pnum' 1, 'tnum' 0;
  letter-spacing: 0.075em;

  @supports (font-variant: common-ligatures) {
    font-feature-settings: normal;
    font-variant: common-ligatures contextual all-small-caps oldstyle-nums proportional-nums;
    font-kerning: normal;
  }
}

// Supercript numerals
sup,
.sup {
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'dlig' 0, 'sups' 1, 'onum' 1, 'lnum' 0, 'pnum' 1, 'tnum' 0;

  @supports (font-variant-position: super) {
    font-feature-settings: normal;
    font-variant: common-ligatures contextual no-discretionary-ligatures oldstyle-nums proportional-nums;
    font-kerning: normal;
    font-variant-position: super;
  }
}

// Subscript numerals
sub,
.sub {
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'dlig' 0, 'subs' 1, 'onum' 1, 'lnum' 0, 'pnum' 1, 'tnum' 0;

  @supports (font-variant-position: sub) {
    font-feature-settings: normal;
    font-variant: common-ligatures contextual no-discretionary-ligatures oldstyle-nums proportional-nums;
    font-kerning: normal;
    font-variant-position: sub;
  }
}

// Consistent height numbers
.lining-numerals {
  font-feature-settings: 'lnum', 'kern';

  @supports (font-variant: lining-nums) {
    font-feature-settings: normal;
    font-variant: lining-nums;
    font-kerning: normal;
  }
}

// Ascending and descending numbers
.oldstyle-numerals {
  font-feature-settings: 'onum', 'kern';

  @supports (font-variant: oldstyle-nums) {
    font-feature-settings: normal;
    font-variant: oldstyle-nums;
    font-kerning: normal;
  }
}