.s-project-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  @media (min-width: $screen-md) {
    margin-bottom: 3rem;
  }

  &__cover {
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: relative;

    @media (min-width: $screen-sm) {
      height: 300px;
    }

    img {
      display: block;
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
      transition: 0.4s cubic-bezier(0.4,0,0,1) 0.2s;
      z-index: 1;
    }
  }

  &__cover-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.4s cubic-bezier(0.4,0,0,1) 0.2s;
    background-color: rgba(0,0,0,0);
    z-index: 2;
  }

  &__info {
    padding: 1rem;
    background-color: #fff;

    @media (min-width: $screen-sm) {
      background-color: transparent;
      padding: 1.5rem 0 0 0;
    }
  }

  &__info-list {

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: row;
      margin-bottom: 1.25rem;
    }
  }

  &__info-item {
    margin-bottom: 0.75rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
      flex-basis: auto;
      width: 50%;
    }
  }

  &__info-subtitle {
    text-transform: uppercase;
    opacity: 0.5;
    font-weight: 700;
    letter-spacing: 0.2em;
    font-size: rem(10px);
    margin-bottom: 0.25rem;

    @media (min-width: $screen-md) {
      margin-bottom: 0.5rem;
    }
  }

  &__info-desc {
    font-size: rem(14px);
    line-height: rem(20px);
    font-weight: 600;

    // @media (min-width: $screen-md) {
    //   font-size: 1rem;
    //   line-height: rem(26px);
    // }
  }

  &__more {
    display: block;
    color: $primary-color;
    font-size: rem(10px);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2em;
    padding: 0.5rem 0;
    position: relative;

    @media (min-width: $screen-md) {
      display: inline-block;

      &::after {
        content: '';
        position: absolute;
        left: -0.5rem;
        right: -0.5rem;
        top: -0.5rem;
        bottom: -0.5rem;
      }
    }

    span {
      display: inline-block;
      width: 2rem;
      height: 1px;
      position: relative;
      margin-right: 1rem;
      background-color: rgba(0,0,0,0.2);
      vertical-align: middle;

      &::before {
        background-color: rgba(0,0,0,1);
        height: 1px;
        width: 100%;
        left: 0;
        position: absolute;
        content: '';
        transform-origin: left center;
        transform: scaleX(.1);
        transition: 0.4s cubic-bezier(0.4,0,0,1) 0.2s;
      }
    }
  }

  &:hover {

    .s-project-card__cover-overlay {
      background-color: rgba(0,0,0,0.3);
    }

    .s-project-card__cover {

      img {
        transform: scale(1.05);
      }
    }

    .s-project-card__more {
      text-decoration: none;
      color: $primary-color;

      span {

        &::before {
          transform: scaleX(1);
          background-color: $primary-color;
          transition: 0.6s cubic-bezier(0.4,0,0,1);
        }
      }
    }
  }
}