mixin project-card()

  article.s-project-card
    a.s-project-card__cover(href='/')
      img(src='https://images.unsplash.com/photo-1505576391880-b3f9d713dc4f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80', alt='Project Name', width='284px', height='200px')
      .s-project-card__cover-overlay
    .s-project-card__info
      ul.s-project-card__info-list
        li.s-project-card__info-item
          .s-project-card__info-subtitle Объект
          .s-project-card__info-desc Санкт-Петербург, ул. Автозаводская, 14
        li.s-project-card__info-item
          .s-project-card__info-subtitle Сроки
          .s-project-card__info-desc Январь 2018 — Март 2018
      a.s-project-card__more(href='/')
        span
        | Подробнее