mixin hamburger(label, targetId, switchableClass)

  //- Param:
    label           {string} - aria-label
    targetId        {string}
    switchableClass {string} - added or removed class from target element

  //- Use:
    +hamburger('Show main navigation', 'main-nav', 'main-nav--is-shown')

  -
    label = label || 'Toggle block ' + targetId

    if (typeof(targetId) !== 'undefined' && targetId !== '') attributes['data-target-id'] = targetId

    if (typeof(switchableClass) !== 'undefined' && switchableClass !== '') attributes['data-target-class-toggle'] = switchableClass

  button.s-hamburger(aria-label=label)&attributes(attributes)
    span.s-hamburger__screen-reader Меню
    span.s-hamburger__line
