$hamburger-width:         28px;
$hamburger-height:        28px;
$hamburger-radius:        $hamburger-width / 2;
$hamburger-color:         currentColor;

.s-hamburger {
  width: $hamburger-width;
  height: $hamburger-height;
  padding: 0;
  position: relative;
  cursor: pointer;
  display: block;

  &__screen-reader {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
  }

  &__line {
    display: block;
    // width: $hamburger-width / 2;
    height: 1px;
    background-color: $hamburger-color;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      right: 0;
      left: 0;
      height: 1px;
      background-color: $hamburger-color;
      transition: transform .3s cubic-bezier(.17,.67,.3,1.33),background-color .3s cubic-bezier(.4,0,0,1) 0.2s;
      transform: translateZ(0);
      backface-visibility: hidden;
      transform-origin: center left;
    }

    &::before {
      top: -7px;
    }

    &::after {
      bottom: -7px;
    }
  }

  &--close {

    .s-hamburger__line {
      background-color: transparent;

      &::before,
      &::after {
        background-color: #fff;
      }

      &::before {
        transform: rotate(45deg) translateY(-4px);
      }

      &::after {
        transform: rotate(-45deg) translateY(4px);
      }
    }
  }
}